.App {
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    background: url("./resource/login_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-clarity {
    background-color: rgba(255, 255, 255, 0);
}

/* 登录表单 */
.login-form {
    background-color: rgba(255, 255, 255, 1);
    padding: 14px 18px;
}

/* 左上角 logo */
.menu-logo {
    height: 42px;
    width: 42px;
    background: url("./resource/logo.jpg");
    background-repeat: no-repeat;
    background-size: 42px;
    -moz-background-size: 42px;
    -webkit-background-size: 42px;
    border-radius: 5px;
    margin: auto 16px;
}

/* 顶部菜单 */
.menu-top {
	min-height: 64px; 
	background-Color: rgba(1,21,40, 0.8);
	color: white;
}

.menu-top-left {
    display: flex;
    padding: 3px;
}
.menu-top-btn {
    flex-grow: 1;
    padding: 3px;
}

/* 左侧菜单 */
.menu-bottom {
    display: flex;
}

/* 菜单内容 */
.menu-content {
    align-items: flex-start;
    max-width: 240px;
    min-height: calc(100vh - 64px);
}

/* 菜单文字左对齐 */
ul[role='menu'] li, li[role='menuitem'] div {
    text-align: left;
}

/* 页面整体样式 */
.page-content {
    flex-grow: 1;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.7); */
}

/* 页面内容样式 */
.page-content>div {
    padding: 12px;
    /* min-height: calc(100vh - 64px); */
    background-color: rgba(255, 255, 255, 1);
}


.ant-modal-title > span {
	color: rgba(5, 87, 36, 0.9);
	font-size: 20px;
	align-self: start;
}